# Анализ набора данных Product Demand Forecast

**Цель**: Определить, какие атрибуты (факторы) влияют на объем продаж. Это поможет вам понять, как различные переменные, такие как праздники, цены на нефть, типы магазинов и другие факторы, влияют на продажи. Это нужно для создания наиболее точной модели прогноза продаж

## Загрузка данных
Загрузим обработанные данные и исправим типы данных для их парвильного анализа

In [12]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
holidays_events = pd.read_csv('precessing_data/holidays_events.csv')
oil = pd.read_csv('precessing_data/oil.csv')
# sample_submission = pd.read_csv('precessing_data/sample_submission.csv')
stores = pd.read_csv('precessing_data/stores.csv')
# test = pd.read_csv('precessing_data/test.csv')
train = pd.read_csv('precessing_data/train.csv')
transactions = pd.read_csv('precessing_data/transactions.csv')

# Удаление ненужных столбцов, которые могут вызвать конфликты
holidays_events = holidays_events.drop(columns=['Unnamed: 0'])
oil = oil.drop(columns=['Unnamed: 0'])
stores = stores.drop(columns=['Unnamed: 0'])
train = train.drop(columns=['Unnamed: 0'])
transactions = transactions.drop(columns=['Unnamed: 0'])

dfs = {
    'holidays_events': holidays_events,
    'oil': oil,
    # 'sample_submission': sample_submission,
    'stores': stores,
    # 'test': test,
    'train': train,
    'transactions': transactions
}

def check_and_fix_dtypes(df: pd.DataFrame):

    df = df.infer_objects()
    try:
        df['date'] = pd.to_datetime(df['date'])
    except:
        pass

    return df

for name, df in dfs.items():
    dfs[name] = check_and_fix_dtypes(df)

holidays_events = dfs['holidays_events']
oil = dfs['oil']
stores = dfs['stores']
train = dfs['train']
transactions = dfs['transactions']

In [14]:
for name, df in dfs.items():
    print(name)
    print(df)
    print(df.dtypes)

holidays_events
          date        type    locale locale_name  transferred
0   2012-03-02     Holiday     Local       Manta        False
1   2012-04-01     Holiday  Regional    Cotopaxi        False
2   2012-04-12     Holiday     Local      Cuenca        False
3   2012-04-14     Holiday     Local    Libertad        False
4   2012-04-21     Holiday     Local    Riobamba        False
..         ...         ...       ...         ...          ...
345 2017-12-22  Additional  National     Ecuador        False
346 2017-12-23  Additional  National     Ecuador        False
347 2017-12-24  Additional  National     Ecuador        False
348 2017-12-25     Holiday  National     Ecuador        False
349 2017-12-26  Additional  National     Ecuador        False

[350 rows x 5 columns]
date           datetime64[ns]
type                   object
locale                 object
locale_name            object
transferred              bool
dtype: object
oil
           date  dcoilwtico
0    2013-01-02       93.14
1    2013-01-03       92.97
2    2013-01-04       93.12
3    2013-01-07       93.20
4    2013-01-08       93.21
...         ...         ...
1170 2017-08-25       47.65
1171 2017-08-28       46.40
1172 2017-08-29       46.46
1173 2017-08-30       45.96
1174 2017-08-31       47.26

[1175 rows x 2 columns]
date          datetime64[ns]
dcoilwtico           float64
dtype: object
stores
    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3
store_nbr     int64
city         object
state        object
type         object
cluster       int64
dtype: object
train
              id       date  store_nbr                      family     sales  \
0              0 2013-01-01          1                  AUTOMOTIVE     0.000
1              1 2013-01-01          1                   BABY CARE     0.000
2              2 2013-01-01          1                      BEAUTY     0.000
3              3 2013-01-01          1                   BEVERAGES     0.000
4              4 2013-01-01          1                       BOOKS     0.000
...          ...        ...        ...                         ...       ...
3000883  3000883 2017-08-15          9                     POULTRY   438.133
3000884  3000884 2017-08-15          9              PREPARED FOODS   154.553
3000885  3000885 2017-08-15          9                     PRODUCE  2419.729
3000886  3000886 2017-08-15          9  SCHOOL AND OFFICE SUPPLIES   121.000
3000887  3000887 2017-08-15          9                     SEAFOOD    16.000

         onpromotion
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
3000883            0
3000884            1
3000885          148
3000886            8
3000887            0

[3000888 rows x 6 columns]
id                      int64
date           datetime64[ns]
store_nbr               int64
family                 object
sales                 float64
onpromotion             int64
dtype: object
transactions
            date  store_nbr  transactions
0     2013-01-01         25           770
1     2013-01-02          1          2111
2     2013-01-02          2          2358
3     2013-01-02          3          3487
4     2013-01-02          4          1922
...          ...        ...           ...
83483 2017-08-15         50          2804
83484 2017-08-15         51          1573
83485 2017-08-15         52          2255
83486 2017-08-15         53           932
83487 2017-08-15         54           802

[83488 rows x 3 columns]
date            datetime64[ns]
store_nbr                int64
transactions             int64
dtype: object

In [24]:
# Объединение train и transactions по ['store_nbr', 'date']
train_transactions = pd.merge(train, transactions, on=['store_nbr', 'date'])

# Объединение с holidays_events по 'date'
train_transactions_holidays = pd.merge(train_transactions, holidays_events, on='date', how='left')

# Объединение с oil по 'date'
full_data = pd.merge(train_transactions_holidays, oil, on='date', how='left')

# Объединение с stores по 'store_nbr'
full_data = pd.merge(full_data, stores, on='store_nbr', how='left')

# Переименование колонок для ясности
full_data.rename(columns={
    'type_x': 'holiday_type',  # Из holidays_events
    'locale': 'holiday_locale',
    'locale_name': 'holiday_locale_name',
    'transferred': 'holiday_transferred',
    'type_y': 'store_type',    # Из stores
    'cluster': 'store_cluster'
}, inplace=True)

full_data

,id,date,store_nbr,family,sales,onpromotion,transactions,holiday_type,holiday_locale,holiday_locale_name,holiday_transferred,dcoilwtico,city,state,store_type,store_cluster
0,561,2013-01-01,25,AUTOMOTIVE,0.000,0,770,Holiday,National,Ecuador,False,NaN,Salinas,Santa Elena,D,1
1,562,2013-01-01,25,BABY CARE,0.000,0,770,Holiday,National,Ecuador,False,NaN,Salinas,Santa Elena,D,1
2,563,2013-01-01,25,BEAUTY,2.000,0,770,Holiday,National,Ecuador,False,NaN,Salinas,Santa Elena,D,1
3,564,2013-01-01,25,BEVERAGES,810.000,0,770,Holiday,National,Ecuador,False,NaN,Salinas,Santa Elena,D,1
4,565,2013-01-01,25,BOOKS,0.000,0,770,Holiday,National,Ecuador,False,NaN,Salinas,Santa Elena,D,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805226,3000883,2017-08-15,9,POULTRY,438.133,0,2155,Holiday,Local,Riobamba,False,47.57,Quito,Pichincha,B,6
2805227,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,2155,Holiday,Local,Riobamba,False,47.57,Quito,Pichincha,B,6
2805228,3000885,2017-08-15,9,PRODUCE,2419.729,148,2155,Holiday,Local,Riobamba,False,47.57,Quito,Pichincha,B,6
2805229,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,2155,Holiday,Local,Riobamba,False,47.57,Quito,Pichincha,B,6
2805230,3000887,2017-08-15,9,SEAFOOD,16.000,0,2155,Holiday,Local,Riobamba,False,47.57,Quito,Pichincha,B,6

In [29]:
full_data.isna().sum()

id                           0
date                         0
store_nbr                    0
family                       0
sales                        0
onpromotion                  0
transactions                 0
holiday_type           2346168
holiday_locale               0
holiday_locale_name    2346168
holiday_transferred    2346168
dcoilwtico                  33
city                         0
state                        0
store_type                   0
store_cluster                0
dtype: int64

In [31]:
full_data[full_data.filter(like='holiday_').columns] = full_data[full_data.filter(like='holiday_').columns].fillna('NoEvent')

In [32]:
full_data.isna().sum()

id                      0
date                    0
store_nbr               0
family                  0
sales                   0
onpromotion             0
transactions            0
holiday_type            0
holiday_locale          0
holiday_locale_name     0
holiday_transferred     0
dcoilwtico             33
city                    0
state                   0
store_type              0
store_cluster           0
dtype: int64